<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>683922224875-4p9kuea35kluovud3n831qdni1m9ar5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683922224875-4p9kuea35kluovud3n831qdni1m9ar5j</string>
	<key>API_KEY</key>
	<string>AIzaSyDzaGMiKTeelacd8sosliVHj1z66J5hgZw</string>
	<key>GCM_SENDER_ID</key>
	<string>683922224875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hajora.DND</string>
	<key>PROJECT_ID</key>
	<string>dnd-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>dnd-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683922224875:ios:18e342c6802937c7</string>
	<key>DATABASE_URL</key>
	<string>https://dnd-commerce.firebaseio.com</string>
</dict>
</plist>